@use "../../variables";
.group-chat {
  padding: 10px 12px;
  display: flex;
  // border: variables.$section-devider-color 1px solid;
  cursor: pointer;
  &:hover {
    background-color: variables.$chat-hover;
  }
  .main-content {
    flex: 1 1;
    margin-left: 10px;
    display: flex;
    // flex: 1 1 0%;
    width: calc(100% - 100px);
    flex-direction: column;
    justify-content: center;
    .title {
      font-size: 16px;
    }
    .last-message {
      color: variables.$last-message-color;
      display: block;
      white-space: nowrap; /* forces text to single line */
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .unseen-last-message {
      font-weight: bold;
    }
  }
  .right-side {
    display: flex;
    align-items: center;
  }
}
.new-message {
  .title {
    font-weight: bold;
  }
}
